.easy
{
    background-color: yellow;
}

.middle
{
    background-color: orange;
}

.hard
{
    background-color: red;
}

ul
{
    list-style-type: none;
    width: 100%;
}

li
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
}

div
{
    border: 2px solid gray;
    padding: 5px;
    margin: 2px;
}

#nameTag
{
    width: 200px;
}

#groupTag
{
    width: 60px;
}

#priorityTag
{
    width: 80px;
}

#taskTag
{
    width: 600px;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#err-msg
{
    font-size: 6px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#login
{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-width: 2px;
    border-style: double;
    border-color: blue;
    padding: 2em;
}

label
{
    width: 25%;
}
input[type=text], input[type=password]
{
    width: 70%;
}