<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskManager</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>
        TaskManager
    </h1>
    <form id="login" method="POST">
        <div>
            <label for="username">
                Username:
            </label>
            <input type="text" name="username" />
        </div>
        <br />
        <div>
            <label for="passwrd">
                Password:
            </label>
            <input type="password" name="passwrd" />
            </div>
        <br />
        <input type="submit" value="LogIn" />
    </form>
    <p id="err-msg">
        {{msg}}
    </p>
</body>
</html>